/*UC1 css style for address book form body, header, and logo*/

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100%;
}

.header {
    padding: 15px 0;
    background-color: #ffffff;
}

.header-content {
    margin-left: 100px;
    display: flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items:flex-start;
}

.logo-content {
    display: flex;
    flex-direction: row;
    align-items:flex-start;
}

.logo-content img {
    width: 50px;
    height: 50px;
}

.address-text {
    font: normal normal bold 20px/25px Montserrat;
    font-family: "Montserrat", sans-serif;
    letter-spacing: 0px;
    color: #008CFF;
    text-transform: capitalize;
}

.address-payroll {
    color: #42515F;
}

/* UC 2*/

.form-content {
    padding-top: 40px;
    min-height:calc(100% -80px);
    background-color:#f7f7f7;
    display:flex;
    justify-content: center;
    align-items: center;
    border: 0px solid green;
    } 

    .form {
        width: 70%;
        background:white 0% 0% no-repeat padding-box;
        box-shadow: 0px 3px 6px #00000029;
        border-radius: 8px;
        opacity: 1;
    }

    .form-head {
        font: normal normal bold 24px/37px Roboto;
        letter-spacing: 0px;
        color: white;
        background-color: #008CFF;
        text-align: center;
        text-transform: capitalize;
        opacity: 1;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .row-content {
        padding-left: 100px;
        padding-right: 100px;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        align-items: left;
        border: 0px solid green;
        padding-top: 40px;
    }

    .head{   
        flex: display;
        flex : row;
    }

    .close{
        align-items: right;
        margin-right: 50px;;     
    }
